<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <%- include('./partials/styleLogin'); %>

  <link rel="icon" href="/img/logo-for-mh.png" type="image/png">
  
<body>
  <div class="container">
    <img src="/img/register.png" alt="Register Icon" class="register-icon">
    <h1><%= title%></h1>
    <form action="/api/register" method="post">  <div>
        <label for="login">Ім'я</label>
        <input type="text" id="login" name="login" required>
      </div>
      <div>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <label for="isAdmin">Який користувач</label>
        <select name="isAdmin" id="isAdmin">
          <option value="true">Адміністратор</option>
          <option value="false">Користувач</option>
        </select>
      </div>
      <button type="submit">Зареєструватися</button>
      <a href="/api/login">Вже зареєстрований</a>
    </form>
  </div>
</body>
</html>